.logo-image {
    font-size: 0 !important;
}

.logo-image img {
    max-height: 40px;
}

.checkbox label, .radio label {
    padding-left: 20px !important;
}

.checkbox .icheckbox_flat, .radio .iradio_flat {
    margin-top: -2px !important;
}

.checkbox label div, .radio label div {
    position: absolute !important;
    left: 0;
}

.view-value {
    padding-top: 7px;
}

.primary {
    font-weight: bold;
}

.no-gutter {
    padding: 0;
}

.no-gutter-left {
    padding-left: 0;
}

.no-gutter-right {
    padding-right: 0;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #b8b8b8;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b8b8b8;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b8b8b8;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b8b8b8;
}

.form-control:-ms-input-placeholder { /* Microsoft Edge */
    color: #b8b8b8;
}

.textarea-detail ol {
    counter-reset: item;
}

.textarea-detail ol > li {
    counter-increment: item;
}

.textarea-detail ol ol > li {
    display: block;
}

.textarea-detail ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}

h3.static-element {
    font-size: 18px;
    margin: 0;
    margin-top: 45px;
    padding: 10px;
    padding-left: 0;
    border-bottom: 3px solid #3c8dbc;
}

.adminaut-required-input-star {
    color: #6e6e6e;
}

#moduleEntityTable .action-column .btn-group {
    min-width: 130px;
}

.select2 {
    width: 100%!important;
}

span.select2.select2-container--focus .select2-selection, span.select2.select2-container--open .select2-selection {
    border-color: #3c8dbc;
    box-shadow: none;
}

div.dataTables_processing {
    top: 0;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    background: rgba(255, 255, 255, .8);
}

div.dataTables_paginate ul.pagination {
    margin-top: 10px;
}

tr.table-filter td {
    padding: 0 !important;
}

tr.table-filter td .select2 {
    width: 100%!important;
}

tr.table-filter td .select2 .select2-selection {
    border: 0;
}