<?php

return [
    'adminaut' => [
        'modules' => [
            'example-section' => [
                'type' => 'section',
                'label' => 'Example section',
            ],
            'example' => [
                'type' => 'module',
                'module_name' => 'Example module',
                'module_icon' => 'fa-newspaper-o',
                'entity_class' => 'Application\Entity\ExampleEntity',
            ],
        ],

        'roles' => [],

        'appearance' => [
            'skin' => 'blue',
            'title' => 'Adminaut',
            'logo' => [
                'type' => 'image',
                'large' => 'adminaut/img/admin-logo-lg.svg',
                'small' => 'adminaut/img/admin-logo-mini.png',
            ],
            'footer' => '',
        ],

        'manifest' => [
            // Name of adminaut instance. Used on lot of places (page titles, web app, etc.)
            'name' => 'Adminaut',
            'show_name' => 'Adminaut',
            'description' => 'Adminaut - universal automatic administration system',
            'display' => 'standalone',
            'theme_color' => '#3c8dbc',
            // background_color (default #3c8dbc)
            // Used as background color for web appendName.
            // More information here: https://developer.mozilla.org/en-US/docs/Web/Manifest
            'background_color' => '#3c8dbc',
            'icons' => [
                [
                    'src' => '/static/favicons/android-chrome-36x36.png',
                    'sizes' => '36x36',
                    'type' => 'image/png',
                    'density' => '0.75',
                ],
            ],
        ],

        'variables' => [
            'google-analytics' => '---google-analytics---',
            'google-maps-api' => '---google-maps-api---',
            'environment' => 'develop',
        ],

        'filesystem' => [
            'private' => [
                'adapter' => \League\Flysystem\Adapter\Local::class,
                'options' => [
                    'root' => './data/files',
                ],
            ],
            'public' => [
                'adapter' => \League\Flysystem\Adapter\Local::class,
                'options' => [
                    'root' => './public/_cache/files',
                    'trim' => './public/',
                ],
            ],
        ],

        'mail_service' => [
            'enabled' => false,
            'adapter' => \MassimoFilippi\MailModule\Adapter\Mailjet\MailjetAdapter::class,
            'adapter_params' => [
                'api_key' => '---mailjet-api-key---',
                'api_secret' => '---mailjet-api-secret---',
                'sandbox_mode' => false,
            ],
//            'adapter' => \MassimoFilippi\MailModule\Adapter\SparkPost\SparkPostAdapter::class,
//            'adapter_params' => [
//                'api_key' => '---sparkpost-api-key---',
//            ],
//            'adapter' => \MassimoFilippi\MailModule\Adapter\SparkPost\SparkPostSmtpAdapter::class,
//            'adapter_params' => [
//                'api_key' => '---sparkpost-api-key---',
//            ],
//            'adapter' => \MassimoFilippi\MailModule\Adapter\Google\GoogleSmtpAdapter::class,
//            'adapter_params' => [
//                'username' => '---username---',
//                'password' => '---password---',
////                'ssl' => 'tls', // tls is default
//            ],
            'system_name' => 'Adminaut',
            'system_email' => '---your-system-email---',
            'templates' => [
                'account_information' => 'adminaut/email/account-information.phtml',
                'notification' => 'adminaut/email/notification.phtml',
            ],
        ],

        'slack' => [
            'enabled' => false,
            'webhook_url' => 'https://hooks.slack.com/services/#########/#########/########################',
            // Whether names like @regan should be converted into links by Slack, default: false
            'link_names' => false,
            // Whether Slack should unfurl links to text-based content, default: false
            'unfurl_links' => false,
            // Whether Slack should unfurl links to media content such as images and YouTube videos, default: true
            'unfurl_media' => true,
            // Whether message text should be interpreted in Slack's Markdown-like language. For formatting options, see Slack's help article: http://goo.gl/r4fsdO, default: true
            'allow_markdown' => true,
            // Which attachment fields should be interpreted in Slack's Markdown-like language. By default, Slack assumes that no fields in an attachment should be formatted as Markdown. // default: []
            'markdown_in_attachments' => [],

            // Allow Markdown in just the text and title fields
            //// 'markdown_in_attachments' => ['text', 'title']
            // Allow Markdown in all fields
            //// 'markdown_in_attachments' => ['pretext', 'text', 'title', 'fields', 'fallback']

            'defaults' => [
                // default username, set to null to use the default set on the Slack webhook, default: null
                'username' => 'Adminaut',
                // default channel, channel: #general, user: @john.doe, set to null to use the default set on the Slack webhook, default: null
                'channel' => '#general',
                // URL to an image or Slack emoji like :ghost: or :+1:, set null to use the default set on the Slack webhook, default: null
                'icon' => 'http://adminaut.com/images/adminaut-favicon-64x64.png'
            ],
        ],
    ],

    /*'router' => [
        'routes' => [
            'adminaut' => [
                'options' => [
                    'route' => '/admin'
                ]
            ],
        ]
    ],*/
];
