<?php

return [
    'adminaut' => [

        'modules' => [
            2 => [
                'type' => 'module',
                'module_name' => 'Datatypes',
                'module_icon' => 'fa-list-alt',
                'entity_class' => 'Application\Entity\Datatypes',
            ],
            1 => [
                'type' => 'module',
                'module_name' => 'News',
                'module_icon' => 'fa-list-alt',
                'entity_class' => 'Application\Entity\News',
            ],
        ],

        'auth-adapter' => [
            'failedAttemptsToLock' => 3,
            'unlockAfter' => 30, // int in seconds, null for no automatic unlock
        ],

        'cookie-storage' => [
            'cookieName' => 'access-token',
            'cookiePath' => '/',
            'cookieHttpOnly' => true,
            'cookieSecure' => false,
        ],
    ],
];
